<h2>{{grant?.id ? 'Actualizar' : 'Nueva'}} Solicitud</h2>

<form class="ui form" [formGroup]="form">

  <h3>Datos del alumno/profesor</h3>

  <p class="title">
    Tipo de la solicitud
  </p>
  <p>
    <mat-radio-group>
      <mat-radio-button value="Alumno" (change)="onChange($event.value)">Alumno</mat-radio-button>
      <mat-radio-button value="Profesor" (change)="onChange($event.value)" style="padding-left: 20px">Profesor</mat-radio-button>
    </mat-radio-group>
  </p>

  <p class="title">
    Tipo del servicio
  </p>
  <p>
    <select name="type" [(ngModel)]="grant.type" [ngModelOptions]="{standalone: true}">
      <option *ngFor="let type of types">{{type}}</option>
    </select>
  </p>

  <div class="field" class="menu-ancho">
    <label for="AlumnName">Nombre</label>
    <input type="text" value="{{grant?.alumn?.name}}" #alumn required name="AlumnName" id="AlumnName"
           [formControl]="alumnControl">
  </div>

  <div class="field" class="menu-ancho">
    <label for="AlumnSurname1">Primer apellido</label>
    <input type="text" value="{{grant?.alumn?.surname1}}" #alumn required name="AlumnSurname1" id="AlumnSurname1"
           [formControl]="alumnControl">
  </div>

  <div class="field" class="menu-ancho">
    <label for="AlumnSurname2">Segundo apellido</label>
    <input type="text" value="{{grant?.alumn?.surname2}}" name="AlumnSurname2" id="AlumnSurname2"
           [formControl]="alumnControl">
  </div>

  <p class="title">
    Dirección
  </p>

  <comedores-province (selected)="selectedProvince($event)"></comedores-province>
  <comedores-municipality [province]="province" (selected)="selectedMunicipality($event)"></comedores-municipality>
  <comedores-city [municipality]="municipality" (selected)="selectedCity($event)"></comedores-city>

  <p *ngIf="alumnControl.errors && !form.pristine">
    {{alumnControl.errors | json}}
  </p>

  <h3>Datos del centro</h3>

  <p>Centro seleccionado: {{centerSelected.name}}</p>

  <comedores-center-suggestion (centerSelected)="selectSchool($event)"></comedores-center-suggestion>

  <div class="ui grid">
    <div class="six wide column">
      Id del centro: {{centerSelected?.id}}
    </div>
    <div class="six wide column">
      Catering: {{centerSelected?.catering?.name}}
    </div>
    <div class="six wide column">
      Precio habitual: {{centerSelected?.catering?.regular_price}}
    </div>
    <div class="six wide column">
      Precio esporádico: {{centerSelected?.catering?.sporadic_price}}
    </div>
  </div>

  <h3>Datos del padre/madre/tutor</h3>

  <comedores-father>
    <div titulo>Datos del primer padre</div>
  </comedores-father>

  <div #fathers></div>

  <h3>Datos de la solicitud</h3>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateInput)="log($event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <br/>

  <button (click)="submit()" [disabled]="!form.valid">{{grant?.id ? 'Actualizar' : 'Guardar'}}</button>
  <button (click)="delete()" *ngIf="grant.id">Eliminar</button>
</form>
