<h1>{{grant?.id ? 'Actualizar' : 'Nueva'}} Solicitud</h1>

<form class="ui form" [formGroup]="form">

  <label for="AlumnoRadio">Alumno</label>
  <input type="radio" name="kind" value="Alumno" id="AlumnoRadio" (change)="onChange($event.target.value)">
  <label for="ProfesorRadio">Profesor</label>
  <input type="radio" name="kind" value="Profesor" id="ProfesorRadio" (change)="onChange($event.target.value)">

  <select name="type" [(ngModel)]="grant.type" [ngModelOptions]="{standalone: true}">
    <option *ngFor="let type of types">{{type}}</option>
  </select>

  <div class="field" class="menu-ancho">
    <label for="AlumnName">Nombre del Alumno</label>
    <input type="text" value="{{grant?.alumn}}" #alumn required name="AlumnName" id="AlumnName"
           [formControl]="alumnControl">
  </div>

  <p *ngIf="alumnControl.errors && !form.pristine">
    {{alumnControl.errors | json}}
  </p>
  <div class="field">
    <label for="GrantName">Solicitud</label>
    <input type="text" value="{{grant?.name}}" #name required name="GrantName" id="GrantName"
           [formControl]="form.controls['grantName']">
  </div>


  <div class="field">
    <label for="School">Centro</label>
    <input type="text" id="School" (keyup)="searchSchools(school.value)" [value]="schoolSelected" #school>
  </div>
  <div *ngIf="listSchools.length">
    <ul>
      <li *ngFor="let school of listSchools" (click)="selectSchool(school)">
        {{school}}
      </li>
    </ul>
  </div>

  <h1>Padres</h1>

  <app-padre>
    <div titulo>Datos del primer padre</div>
  </app-padre>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateInput)="log($event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button (click)="submit()" [disabled]="!form.valid">{{grant?.id ? 'Actualizar' : 'Guardar'}}</button>
  <button (click)="delete()">Eliminar</button>
</form>
