<div class="ui grid">
  <div class="three wide column"></div>
  <div class="ten wide column">
    <img src="/assets/img/cabecera.jpg">

      <table class="ui celled table">
          <thead>
            <tr>
              <th>Solicitud</th>
              <th>Alumno</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="ui ribbon label">{{grant.name}}</div>
              </td>
              <td>{{grant.alumno}}</td>
              <td [class.warning]="grant.warning">
               <span (click)=edit()> Edit </span>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
  <div class="three wide column"></div>
</div>
