<h1>Filtro</h1>

<form class="ui form">
  <div class="field four wide">
    <label for="AlumnFilter">Nombre del Alumno</label>
    <input type="text" id="AlumnFilter" #alumnFilter>
  </div>

  <comedores-province (selected)="selectedProvince($event)"></comedores-province>
  <comedores-municipality [province]="province" (selected)="selectedMunicipality($event)"></comedores-municipality>
  <comedores-city [municipality]="municipality" (selected)="selectedCity($event)"></comedores-city>

</form>

<table class="ui celled table">
  <thead>
  <tr>
    <th>Solicitud</th>
    <th>Alumno</th>
    <th>Fecha</th>
    <th>Estado</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let grant of grants$ | async;let i = index;let odd = odd; let first = first">
    <td>
      <div class="ui ribbon label">{{grant.name}}</div>
    </td>
    <td>{{grant.alumn}}</td>
    <td>{{grant.created | date: 'dd/MM'}}</td>
    <td [class.warning]="grant.warning">
      <a [routerLink]="[grant.id]">Edit</a>
      <span> | </span>
      <a (click)="delete(grant)">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
