<h3>Filtro</h3>

<form class="ui form">
  <div class="field four wide">
    <label for="AlumnFilter">Nombre del Alumno</label>
    <input type="text" id="AlumnFilter" #alumnFilter>
  </div>

</form>

<table class="ui celled table">
  <thead>
  <tr>
    <th>Alumno</th>
    <th>Padre</th>
    <th>Centro</th>
    <th>Fecha</th>
    <th>Estado</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let grant of grants$ | async;let i = index;let odd = odd; let first = first">
    <td>
      {{grant.alumn.alumnName}}
    </td>
    <td>{{grant.father[0].name}}</td>
    <td>{{grant.center.name}}</td>
    <td>{{grant.date | date: 'dd/MM'}}</td>
    <td [class.warning]="grant.warning">
      <a [routerLink]="[grant.id]">Edit</a>
      <span> | </span>
      <a (click)="delete(grant)">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
